MONGO_URI=mongodb+srv://<usuario>:<contraseña>@cluster0.mongodb.net/tu_base_de_datos?retryWrites=true&w=majority
SESSION_SECRET=una_clave_muy_secreta
CLIENT_URL=https://tu-frontend.vercel.app
NODE_ENV=production
